<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <div>
            <h2>Register</h2>
        </div>
        <form action="/register" method="POST">
            <label for="name">Name<input name="name" type="text"></label><br>
            <label for="email">Email<input name="email" type="text"></label><br>
            <label for="password">Password<input name="password" type="password"></label><br>
            <button type="submit">Register</button>
        </form>
    </div>
    <a href="/login">Already have an account? Login instead.</a>
</body>

</html>